<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 5px 5px;
	text-decoration: none;
}

.pagination a.active {
	background-color: gray;
	color: white;
	border-radius: 2px;
}
</style>
<head>
    <title>Process Instance List</title>
</head>
<body>
<h1>Process Instance List</h1>
<table border="1">
    <thead>
        <tr>
            <th th:text="#{process.instance.key}" />
            <th th:text="#{process.instance.date}" />
            <th th:text="#{process.instance.name}" />
            <th th:text="#{process.instance.status}" />
            <th th:text="#{process.instance.events}" />
            <th th:text="#{process.instance.tasks}" />
            <th th:text="Action" />
        </tr>
    </thead>
    <tbody>
        <tr th:each="inst, iStat : ${processInstancePage.content}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${inst.arangoKey}" />
            <td th:text="${#dates.format(inst.processDate, 'dd-MM-yyyy')}" />
            <td th:text="${inst.name}" />
            <td th:text="${inst.status}" />
            <td th:text="${inst.sentEvents}" />
            <td><a th:href="@{/api/v1/taskinstances(processInstanceId=${inst.arangoId})}"
                   th:text=click
                   ></a></td>
            <td>

                    <a th:href="@{'/api/v1/processinstance/rollback/'+${inst.arangoKey}}"
                       th:text="${#strings.equals(inst.status, 'FAILED')?'Rollback':''}"
                    ></a>

                </td>
        </tr>
    </tbody>
</table>
<div th:if="${processInstancePage.totalPages > 0}" class="pagination"
    th:each="pageNumber : ${pageNumbers}">
    <a th:if="${#httpServletRequest.getParameter('status') != null} and ${#httpServletRequest.getParameter('templateId') != null}"
       th:href="@{${#httpServletRequest.requestURI}(templateId=${#httpServletRequest.getParameter('templateId')},status=${#httpServletRequest.getParameter('status')}, size=${processInstancePage.size}, page=${pageNumber-1})}"
        th:text=${pageNumber}
        th:class="${pageNumber==processInstancePage.number} ? active"></a>
    <a th:if="${#httpServletRequest.getParameter('status') != null} and ${#httpServletRequest.getParameter('templateId') == null}"
       th:href="@{${#httpServletRequest.requestURI}(status=${#httpServletRequest.getParameter('status')}, size=${processInstancePage.size}, page=${pageNumber-1})}"
       th:text=${pageNumber}
       th:class="${pageNumber==processInstancePage.number} ? active"></a>
    <a th:if="${#httpServletRequest.getParameter('status') == null} and ${#httpServletRequest.getParameter('templateId') != null}"
       th:href="@{${#httpServletRequest.requestURI}(templateId=${#httpServletRequest.getParameter('templateId')}, size=${processInstancePage.size}, page=${pageNumber-1})}"
       th:text=${pageNumber}
       th:class="${pageNumber==processInstancePage.number} ? active"></a>
    <a th:if="${#httpServletRequest.getParameter('status') == null} and ${#httpServletRequest.getParameter('templateId') == null}"
       th:href="@{${#httpServletRequest.requestURI}(size=${processInstancePage.size}, page=${pageNumber-1})}"
       th:text=${pageNumber}
       th:class="${pageNumber==processInstancePage.number} ? active"></a>
</div>
</body>
</html>