<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 5px 5px;
	text-decoration: none;
}

.pagination a.active {
	background-color: gray;
	color: white;
	border-radius: 2px;
}
</style>
<head>
    <title>Task Instance List</title>
</head>
<body>
<h1>Task Instance List</h1>
<table border="1">
    <thead>
        <tr>
            <th th:text="#{task.instance.key}" />
            <th th:text="#{task.instance.name}" />
            <th th:text="#{task.instance.status}" />
            <th th:text="#{task.instance.dependson}" />
            <th th:text="#{task.instance.output}" />
            <th th:text="#{task.instance.events}" />
        </tr>
    </thead>
    <tbody>
        <tr th:each="inst, iStat : ${taskInstancePage.content}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${inst.arangoKey}" />
            <td th:text="${inst.name}" />
            <td th:text="${inst.status}" />
            <td><div th:if="${inst.dependsOn != null}"
                     th:each="dep : ${inst.dependsOn}">
                    <p th:text="${dep.name}"/>
            </div> </td>
            <td th:text="${inst.output}" />
            <td th:text="${inst.sentEvents}" />
        </tr>
    </tbody>
</table>
<div th:if="${taskInstancePage.totalPages > 0}" class="pagination"
    th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{${#httpServletRequest.requestURI}(size=${taskInstancePage.size}, page=${pageNumber-1})}"
        th:text=${pageNumber}
        th:class="${pageNumber==taskInstancePage.number} ? active"></a>
</div>
</body>
</html>